grant codeBase "file:/D:/workspace/-" {
  permission java.security.SecurityPermission "getProperty.secureRandom.strongAlgorithms";
  permission java.security.SecurityPermission "setProperty.securerandom.strongAlgorithms";
  permission java.security.SecurityPermission "insertProvider.SecureRandomProvider";
  permission java.awt.AWTPermission "createRobot";
  permission java.awt.AWTPermission "readDisplayPixels";
  permission java.lang.RuntimePermission "preferences";
  permission java.net.URLPermission "https://www.fourmilab.ch/cgi-bin/Hotbits", "GET";
  permission java.net.URLPermission "http://qrng.anu.edu.au/API/jsonI.php", "GET";
  permission java.net.URLPermission "https://qrng.anu.edu.au/API/jsonI.php", "GET";
  permission java.net.URLPermission "https://api.random.org/json-rpc/1/invoke", "GET,POST";
  permission java.io.FilePermission "${user.dir}/seeds.db", "delete, write, read";
  permission java.util.PropertyPermission "slf4j.*", "read";
  permission java.util.PropertyPermission "prng.*", "read";
  permission java.lang.management.ManagementPermission "monitor";
  permission java.lang.RuntimePermission "getenv.*";
  permission java.net.NetPermission "getNetworkInformation";
  permission java.net.SocketPermission "localhost", "resolve";
  permission java.net.SocketPermission "www.fourmilab.ch", "connect, resolve";
  permission java.net.SocketPermission "qrng.anu.edu.au", "connect, resolve";
  permission java.net.SocketPermission "api.random.org", "connect, resolve";
};

grant {
  permission java.util.PropertyPermission "slf4j.*", "read";
};
